.contact-main-div {
  padding-bottom: 5rem;
  background: var(--bg-secondary);
  .footer-divider-wrapper {
    color: var(--bg-main);
    position: relative;
    top: -5px;
  }
  div.footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 5rem;
    height: calc(100% - 153px);
    div.footer-descriptions {
      width: 50%;
      padding-right: 20px;
      .link-wrapper {
        display: flex;
        padding-top: 50px;
        height: 30px;
      }
    }
    div.footer-content {
      padding: 20px;
      text-align: right;
      width: 50%;
      p {
        margin:0;
        line-height: 10px;
        margin-top: 10px;
        font-size: small;
        text-align: right;
      }
    }
    & > h1 {
      text-align: center;
    }
  }
}

@media (max-width: 1400px) {
  .contact-main-div div.footer-container {
    flex-direction: column;
    align-items: flex-start;
    div.footer-content, div.footer-descriptions {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
.contact-link {
  background: var(--bg-main);
  padding: 4px 10px;
  width: 30%;
  color: var(--text-main);
  text-decoration: none;
  border-radius: 5px;
  display: block;
  margin-right: 10px;
  white-space: nowrap;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }
}

.download-link {
  display: block;
  text-align: center;
  white-space: nowrap;
  width: 30%;
  background: var(--text-main);
  padding: 4px 10px;
  color: var(--text-secondary);
  text-decoration: none;
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
  }
}
