.pie-chart-enter {
	animation: chartAnimation 1s ease-out forwards;
}

.segment:hover {
	fill: var(--blue-main);
	transition: 200ms;
}

g:hover .pie-segment-title,
g:hover .tooltip-background {
	opacity: 1;
	transform: translateY(0); /* Move title into place */
	font-size: 14px; /* Fancy golden color */
	transition: opacity 0.3s ease, transform 0.3s ease;
}
g:hover .label,
g:hover line {
	opacity: 0;
}

.centerButton:hover circle {
	fill: var(--text-main-light);
	cursor: pointer;
	transition: 200ms;
}

.centerButton:hover .centerText {
	fill: var(--bg-main-lighter);
}

.enlarged {
	transform: scale(1.3);
	transition: 300ms;
}
