#technology-main-div {
  background: linear-gradient(
    to top,
    var(--bg-main-dark) 0%,
    var(--bg-main-lighter) 100%
  );
  padding-top: 100px;
}

#technology-content-div {
  width: 30%;
}
#technology-graphic-div {
  width: 70%;
}

#technology-graphic-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
}

#technology-chart-div {
  width: 100%;
  margin-left: auto;
  position: relative;
  margin-top: 100px;
}

#technology-upper-div {
  display: flex;
}
