.technology-subtitle {
  font-weight: 300;
}

.technology-main-div {
  padding-top: 10rem;

  .technology-chart-wrapper {
    width: 100%;
  }
  .technology-description-wrapper {
    width: 50%;

    h1 {
      line-height: 30px;
    }
  }
}

@media (max-width: 1400px) {
  .technology-main-div .technology-description-wrapper {
    width: 100%;
  }
}
