:root {
  --bg-main-dark: #060020;
  --text-main-light: white;
  --text-main-dark: black;
  --blue-main: #3700ff;
  --bg-main-lighter: #0e003f;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-main-light);
  background-color: var(--bg-main-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
